<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Carbs"
            android:label="@string/title_activity_carbs"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Fats"
            android:label="@string/title_activity_fats"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Proteins"
            android:label="@string/title_activity_proteins"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Bulking"
            android:label="@string/title_activity_bulking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalculatorXXX"
            android:label="@string/title_activity_calculator_xxx"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalculatorCalories"
            android:label="@string/title_activity_calculator_calories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Info"
            android:label="@string/title_activity_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calculators"
            android:label="@string/title_activity_calculators"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Exercises"
            android:label="@string/title_activity_exercises"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Eating"
            android:label="@string/title_activity_eating"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>